<!DOCTYPE html>
<html lang="en">

<!-- Start of HEAD  ---------------------------------------------------- -->
<head>
    <meta charset="UTF-8">
    <title>Fantasy Home</title>

  <!--  Include the Common Head file from the Partials Folder ---------  -->
  <% include ../partials/head %>
  <!--  Figure out how to move the css stuff into this file
       include ../public/css/svfl.css
  -->

    <!-- Start of STYLE for Navigation Bar  ----------------------------- -->
    <style>
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      }

      li {
      float: left;
      }

      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }

      a:hover:not(.active) {
      background-color: #111;
      }

      .active {
      background-color:#4CAF50;
      }
    </style>
    <!-- End of STYLE for Navigation Bar  ----------------------------- -->

    <! -----  This stuff is needed for the Dynamic Tab  -------------------- -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <! -----  This stuff is needed for the Dynamic Tab  -------------------- -->


</head>
<!-- End of HEAD  ---------------------------------------------------- -->

<!-- Start of Body  ---------------------------------------------------- -->
<body>
    <div>
        <center>
            <h1>SVFL Home Page</h1
        </center>
    </div>
    <header>
      <!-- Include the Navagation bar on the page  ------------------------- -->
      <% include ../partials/header %>
    </header>

    <!--   DYNAMIC TABS  -----------------------------------------  -->
      <div class="container">
          <h2>Dynamic Tabs</h2>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#QB">QB</a></li>
            <li><a data-toggle="tab" href="#RB">RB</a></li>
            <li><a data-toggle="tab" href="#RC">RC</a></li>
            <li><a data-toggle="tab" href="#Kick">Kick</a></li>
            <li><a data-toggle="tab" href="#DEF">DEF</a></li>
          </ul>

          <div class="tab-content">
            <div id="QB" class="tab-pane fade in active">
              <h3>Quarterbacks</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="RB" class="tab-pane fade">
                <h3>Running Backs</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="RC" class="tab-pane fade">
                <h3>Revievers</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="Kick" class="tab-pane fade">
                <h3>Kickers</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div id="DEF" class="tab-pane fade">
                <h3>Defence</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
          </div>
        </div>
    <!--   END DYNAMIC TABS  -----------------------------------------  -->


    <!--  Include the Common Footer from the Partials Folder ---------  -->
    <footer>
    <% include ../partials/footer %>
  </footer>
</body>
<!-- End of Body  ---------------------------------------------------- -->

</html>
