<!DOCTYPE html>
<html lang="en">

<!-- Start of HEAD  ---------------------------------------------------- -->
<head>
<!--
    <meta charset="UTF-8">
    <title>Fantasy About</title>
-->

  <!--  Include the Common Head file from the Partials Folder ---------  -->
  <% include ../partials/head %>
  <!--  Figure out how to move the css stuff into this file
     include ../public/css/svfl.css
  -->

</head>
<!-- End of HEAD  ---------------------------------------------------- -->

<!-- Start of Body  ---------------------------------------------------- -->
<body>
<!--
  <div>
    <center>
      <h1>SVFL About Page</h1
    </center>
  </div>
-->

  <header>
    <!-- Include the Navagation bar on the page  ------------------------- -->
    <% include ../partials/header %>
  </header>

  <!--  Include the Common Footer from the Partials Folder ---------  -->
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<!-- End of Body  ---------------------------------------------------- -->

</html>
